 button {
   display: flex;
   width: 20rem;
   height: 20rem;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: .625rem;
   background-color: rgb(187, 187, 187);
   border: none;

   &:hover {
     cursor: pointer;
     background-color: rgb(220, 219, 219);
     box-shadow: 10px 10px 10px rgb(184, 184, 184)
   }
 }

 @media only screen and (max-width: 768px) {
   :host {
     width: 100%;
   }

   button {
     width: 100%;
     height: 14rem;
   }
 }
