<nav>
  <ng-container *ngIf="!isMobile; else mobile">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <a href="#">Link 4</a>
  </ng-container>

  <ng-template #mobile>
    <button class="icon-btn"
      matRipple
      [matRippleCentered]="true"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu" yPosition="above">
      <a href="#" mat-menu-item>Link 1</a>
      <a href="#" mat-menu-item>Link 2</a>
      <a href="#" mat-menu-item>Link 3</a>
      <a href="#" mat-menu-item>Link 4</a>
      <a *ngIf='isMobile' mat-menu-item>Mobile only link</a>
    </mat-menu>
  </ng-template>
</nav>
