nav {
  display: flex;
  align-items: center;
  background-color: rgb(51, 51, 51);
  height:auto;

  a {
      padding: .75rem 2rem;
      text-decoration: none;
      color: white;

      &:hover {
        color: rgb(51, 51, 51);
        background-color: rgb(241, 241, 241);
      }
    }
}

.menu-icon {
  font-size: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: row;
    align-items: center;
    height: 4rem;

    a {
      width: 100%;
      text-align: center;
      padding: 1.5rem 0rem 1.5rem 0rem;
      border-bottom: 1px solid white;

      &:last-child {
        border: none;
      }
    }
  }
}
