<app-header />

<app-nav-bar />

<div class="grid-container">
  <section class="side">
    <app-side/>
  </section>

  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>

<app-footer />
