.grid-container {
  display: grid;
  grid-template-columns: minmax(333px, 3fr) 9fr;
}

.side {
  background-color: rgb(241, 241, 241);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .grid-container {
    grid-template-columns: 1fr;
  }

  .main {
    grid-row: 1 / 2
  }
}
