/* You can add global styles to this file, and also import other style files */
body {
  height:100vh;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.fakeimg {
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: grey;
}

.icon-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  color: white;
  width: 3rem;
  height: 3rem;
  margin: 5px;
  display: flex;
  align-items: center;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
